.content {
  margin: auto;
  width: 1020px;
  text-align: center;
    h1 {
    font-size: 30px;
    color: rgb(126, 43, 63);
    }
    .textarea {
      width: 700px;
      height: 200px;
      outline: none;
    }
}
