.keyboard {
  margin: auto;
  width: 700px;
  border: 2px solid;
  border-radius: 5px;
  border-color: rgb(126, 43, 63);
    &__row {
      display: flex;
      background-color: rgb(255, 224, 225);
      justify-content: center;
      height: 50px;
      align-items: center;
    }
    &__key {
      background-color: rgb(204, 130, 152);
      text-align: center;
      margin: 4px;
      width: 40px;
      height: 40px;
      color: #ffffff;
      border-radius: 25%;
      line-height: 40px;
      &:hover {
        cursor: pointer;
        background-color: rgb(141, 101, 113);
      }
    }
}
.functional {
  background-color: rgb(126, 43, 63);
}
.keyboard__key.active {
  animation: linear 0.2s keyClick;
  animation-fill-mode: forwards;
}
#Space {
  width: 310px;
  border-radius: 5px;
}
#Backspace {
  width: 80px;
  border-radius: 10px;
}
#Tab {
  width: 40px;
  border-radius: 10px; 
}
#Delete {
  width: 40px;
  border-radius: 10px;
}
#CapsLock {
  width: 90px;
  border-radius: 10px;
}
#Enter {
  width: 70px;
  border-radius: 10px;
}
#ShiftLeft {
  width: 70px;
  border-radius: 10px;
}
#ShiftRight {
  width: 90px;
  border-radius: 10px;
}

@keyframes keyClick {
  0% {
    
  }
  100% {
    border-radius: 50%;
    background-color: rgb(154, 231, 212);
  }
}